/* Body */
body{
    background-color: #333;
}

h1{
    color: #aaa;
    text-align: center;
}

/* Navbar */
.navbar-inverse {
    border: none;
}

/* Dropdown Menu */
.dropdown-menu a > span{
    transition: all 0.3s ease-out;
}
.dropdown-menu a:hover > span{
    padding-left: 5px;
    color: #000;
}
.list-group-item-text{
    color: inherit;
}

/* FOOTER */
footer {
    background: #666;
    position: relative;
    clear: both;
    max-width: 100%;
}

footer ul {
    margin: 0;
}

footer ul li {
    display: inline-block;
    text-decoration: none;
    padding: 10px 5px 10px 0;
    color: rgba(255, 255, 255, 0.7);
}

footer ul li a {
    color: rgba(255, 255, 255, 0.7);
}

footer ul li a:hover {
    color: #fff;
    text-decoration: none;
}
footer ul li a:active, a:focus, a:visited{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

/* Heli List */
.heliList {
    margin-bottom: 75px;
}
.heliList li p{
    text-decoration: none;
    color: #111;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
}
.heliList li pre{
    text-decoration: none;
    color: #111;
    font-size: 16px;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
}
.heliList li p:hover {
    padding-left: 5px;
    background: #999;
    cursor: default;
    color: #000;
}
.heliList li pre:hover {
    padding-left: 5px;
    background: #999;
    cursor: default;;
    color: #000;
}
.heliList a{
    color: #111;
}
.heliList a:hover{
    color: #000;
}
.heliList .selected{
    padding-left: 5px;
    /*font-size: 110%;*/
    background: #999;
    cursor: default;
    color: #000;
}
.heliList .glyphicon-remove{
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    display: none;
    float: right;
}
.heliList .glyphicon-menu-up{
    float: right;
}
.heliList .glyphicon-remove:hover{
    color: #444;
}
.heliList h2 {
    font-family: Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}
.heliList ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}
.heliList li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #777;
}
.heliList li:last-child {
    border: none;
}

.btn{
    float: right;
    margin: 10px 5px;
}
