<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue.js - Enter/Leave &amp; Transitions</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0, shrink-to-fit=no" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../css/page.css">
</head>

<body>

    <!-- Top Navigation -->
    <header id="header">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="../../../index.html" class="navbar-brand">Personal Notes</a>
                </div>

                <div class="collapse navbar-collapse" id="collapsemenu">
                    <ul class="nav navbar-nav">

                        <!-- GAME DEVELOMENT -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Game Development <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!-- CONCEPTS -->
                                <li><a href="../../../game/Categories/concepts.html">Concepts <span class="glyphicon-chevron-right"></span></a></li>

                                <!-- ENGINE -->
                                <li><a href="../../../game/Categories/engine.html">Engine <span class="glyphicon-chevron-right"></span></a></li>

                                <!-- IMPLEMENTATIONS -->
                                <li><a href="../../../game/Categories/implementations.html">Implementations <span class="glyphicon-chevron-right"></span></a></li>
                            </ul>
                        </li>

                        
                        <!-- PROGRAMMING -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programming <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!-- LANGUAGES -->
                                <li><a href="../../Categories/languages.html">Languages <span class="glyphicon-chevron-right"></span></a></li>

                                <!-- ALGORITHMS -->
                                <li><a href="../../Categories/algorithms.html">Algorithms <span class="glyphicon-chevron-right"></span></a></li>

                                <!-- PROBLEMS -->
                                <li><a href="../../Categories/problems.html">Problems <span class="glyphicon-chevron-right"></span></a></li>

                                <!-- RANDOM -->
                                <li><a href="../../Categories/random.html">Random <span class="glyphicon-chevron-right"></span></a></li>
                            </ul>
                        </li>

                        <!-- GABE DEVELOPMENT -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gabe Development <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!-- FITNESS PAGE -->
                                <li><a href="../../../gabe/Categories/fitness.html">Fitness <span class="glyphicon-chevron-right"></span></a></li>

                                <!-- STYLE & GROOMING PAGE -->
                                <li><a href="../../../gabe/Categories/style.html">Style <span class="glyphicon-chevron-right"></span></a></li>

                                <!-- FINANCE PAGE -->
                                <li><a href="../../../gabe/Categories/finance.html">Finance <span class="glyphicon-chevron-right"></span></a></li>

                                <!-- PHILOSOPHY PAGE -->
                                <li><a href="../../../gabe/Categories/philosophy.html">Philosophy <span class="glyphicon-chevron-right"></span></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <!-------------------------------------------------------------------------->

    <!-- Side Navigation -->
    <aside id="side-nav">
        <ul>
          <li><a href="#header">Top</a></li>
          <li class="separator"></li>
          <li><a href="#0">Overview</a></li>
          <li><a href='#1'>Transition Singles</a></li>
        </ul>
    </aside>

    <!-- MAIN -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="title">Vue.js - Enter/Leave &amp; Transitions</h1>

                    <div class="jumbotron heliList">
                        <h2>Index</h2>
                        <ul>
                            <li><p><span class="glyphicon-remove"></span>
                                <a href="#0">Overview</a>
                                </p>
                            </li>
                            <li><p><span class='glyphicon-remove'></span>
                                <a href='#1'>Transitioning Single Elements/Components</a>
                                </p>
                            </li>
                        </ul>
                    </div>

<div class="jumbotron col-md-12 heliList" id="0">
    <h2>Overview</h2>
    <ul>
        <li><p><span class="glyphicon-remove"></span>
            Vue provides a variety of ways to apply transition effects when items are insterted, updated, or removed from the DOM.
            <p><span class='glyphicon-remove'></span>This includes tools to:
                <br> &nbsp; &bull; automatically apply classes for CSS transitions and animations
                <br> &nbsp; &bull; integrate 3rd-party CSS animation libraries, such as Animate.css
                <br> &nbsp; &bull; use JavaScript to direclty manipulate the DOM during transition hooks
                <br> &nbsp; &bull; integrate 3rd-party JavaScript animation libararies, such as Velocity.js</p>
            <p><span class='glyphicon-remove'></span>In this section, we'll only cover <i>entering</i>, <i>leaving</i>, and <i>list transitions</i>, but you can see the next section for managing <b>state transitions</b>.</p>
        </p></li>
    </ul>
    <a href="#title"><span class="glyphicon-menu-up"></span></a>
</div>

<div class='jumbotron col-md-12 heliList' id='1'>
    <h2>Transitioning Single Elements/Components</h2>
    <ul>
        <li><p><span class='glyphicon-remove'></span>
            Vue provides a <code>transition</code> wrapper component, allowing you to add entering/leaving transitions for any element or component in the following contexts:
                <br> &nbsp; &bull; Conditional rendering (using <code>v-if</code>)
                <br> &nbsp; &bull; Conditional display (using <code>v-show</code>)
                <br> &nbsp; &bull; Dynamic components
                <br> &nbsp; &bull; Component root nodes
            <p><span class='glyphicon-remove'></span>This is what a simple example looks like in action:</p>
            <pre>
            <span class='glyphicon-remove'></span>&lt;div id="demo">
                &lt;button v-on:click="show = !show">
                    Toggle
                &lt;/button>
                &lt;transition name="fade">
                    &lt;p v-if="show">hello&lt;/p>
                &lt;/transition>
            &lt;/div>
            </pre>
            <pre>
            <span class='glyphicon-remove'></span>new Vue({
                el: '#demo',
                data: {
                    show: true
                }
            })
            </pre>
            <pre>
            <span class='glyphicon-remove'></span>.fade-enter-active, .fade-leave-active {
                transition: opacity .5s
            }
            .fade-enter, .fade-leave-to {
                opacity: 0
            }
            </pre>
            <p><span class='glyphicon-remove'></span>When an element wrapped in a <code>transition</code> component is inserted or removed, this is what happens:</p>
            <p><span class='glyphicon-remove'></span> &nbsp; 1. Vue will automatically sniff whether the target element has CSS transitions or animations applied. If it does, CSS transition classes will be added/removed at appropriate timings.</p>
            <p><span class='glyphicon-remove'></span> &nbsp; 2. If the transition component provided <b>JavaScript hooks</b>, these hooks will be called at appropriate timings.</p>
            <p><span class='glyphicon-remove'></span> &nbsp; 3. If no CSS transitions/animations are detected and no JavaScript hooks are provided, the DOM operations for insertion and/or/ removal will be executed immediately on the next frame.</p>
        </p></li>
        <li><p><span class='glyphicon-remove'></span>
            <h3>Transition Classes</h3>
            <p><span class='glyphicon-remove'></span>These are six classes applied for enter/leave transitions.</p>
            <p><span class='glyphicon-remove'></span>1. <code>v-enter</code>: Starting state for enter. Added before element is inserted, removed one frame after element is inserted.</p>
            <p><span class='glyphicon-remove'></span>2. <code>v-enter-active</code>: Activate state for enter. Applied during the entire entering phase. Added before element is inserted, removed when transition/animation finishes. This class can be used to define the duration, delay and easing curve for the entering transition.</p>
            <p><span class='glyphicon-remove'></span>3. <code>v-enter-to</code>: Ending state for enter. Adding one frame after element is inserted (at the same time <code>v-enter</code> is removed), removed when transition/animation finishes.</p>
            <p><span class='glyphicon-remove'></span>4. <code>v-leave</code>: Starting state for leave. Added immediately when a leaving transition is triggered, removed after one frame.</p>
            <p><span class='glyphicon-remove'></span>5. <code>v-leave-active</code>: Active state for leave. Applied during the entire leaving phase. Added immediately when leave transition is triggered, removed when the transition/animation finishes. This class can be used to define the duration, delay and easing curve for the leaving transition.</p>
            <p><span class='glyphicon-remove'></span>6. <code>v-leave-to</code>: Ending state for leave. Added one frame after a leaving transition is triggered (at the same time <code>v-leave</code> is removed), removed when the transition/animation finishes.</p>
            <p><span class='glyphicon-remove'></span>Each of these classes will be prefixed with the name of the transition. Here the <code>v-</code> prefix is the default when you use a <code>&lt;transition></code> element with no name. If you use <code>&lt;transition name="my-transition"></code> for example, then the <code>v-enter</code> class would instead be <code>my-transition-enter</code>.</p>
            <p><span class='glyphicon-remove'></span><code>v-enter-active</code> and <code>v-leave-active</code> give you the ability to specify different easing curves for enter/leave transitions.</p>
        </p></li>
        <li><p><span class='glyphicon-remove'></span>
            <h3>CSS Transitions</h3>
            <p><span class='glyphicon-remove'></span>One of the most common transition types uses CSS transitions. Here is a quick example:</p>
            <pre>
            <span class='glyphicon-remove'></span>&lt;div id="example-1">
                &lt;button @click="show = !show">
                    Toggle render
                &lt;/button>
                &lt;transition name="slide-fade">
                    &lt;p v-if="show">hello&lt;/p>
                &lt;/transition>
            &lt;/div>
            </pre>
            <pre>
            <span class='glyphicon-remove'></span>new Vue({
                el: '#example-1',
                data: {
                    show: true
                }
            })
            </pre>
            <pre>
            <span class='glyphicon-remove'></span>/* Enter and leave animations can use different
             durations and timing functions */
            .slide-fade-enter-active {
                transition: all .3s ease;
            }
            .slide-fade-leave-active {
                transition: all .8s cubic-bezier(1,0, 0.5, 0.8, 1.0);
            }
            .slide-fade-enter, .slide-fade-leave-to {
                transform: translateX(10px);
                opacity: 0;
            }
            </pre>
        </p></li>
        <li><p><span class='glyphicon-remove'></span>
            <h3>CSS Animations</h3>
            <p><span class='glyphicon-remove'></span>CSS animations are applied in the same way as CSS transitions, the difference being that <code>v-enter</code> is not removed immediately after the element is inserted, but on an <code>animationend</code> event.</p>
            <p><span class='glyphicon-remove'></span>Here's an example, omitting prefixed CSS rules for the sake of brevity:</p>
            <pre>
            <span class='glyphicon-remove'></span>&lt;div id="example-2">
                &lt;button @click="show = !show">Toggle show&lt;/button>
                &lt;transition name="bounce">
                    &lt;p v-if="show">Look at me!&lt;/p>
                &lt;/transition>
            &lt;/div>
            </pre>
            <pre>
            <span class='glyphicon-remove'></span>new Vue({
                el: '#example-2',
                data: {
                    show: true
                }
            })
            </pre>
            <pre>
            <span class='glyphicon-remove'></span>.bounce-enter-active {
                animation: bounce-in .5s;
            }
            .bounce-leave-active {
                animation: bounce-in .5s reverse;
            }
            @keyframes bounce-in {
                0% {
                    transform: scale(0);
                }
                50% {
                    transform: scale(1.5);
                }
                100% {
                    transform: scale(1);
                }
            }
            </pre>
        </p></li>
    </ul>
    <a href='#title'><span class='glyphicon-menu-up'></span></a>
</div>

                    <!-------------------------------------->
                </div>
            </div>
    </main>

    <!-------------------------------------------------------------------------->

    <!-- FOOTER -->
    <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul>
                            <li>&copy; 2017 <a href="http://www.gabedeyo.com">Gabe Deyo</a></li>
                            <li>|</li>
                            <li><a href="mailto:gabedeyo@gmail.com?subject=Notes">gabedeyo@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../../../js/selection.js" charset="utf-8"></script>
</body>

</html>
